<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Monte-Carlo</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Cleaning Company Website Template" name="keywords">
        <meta content="Cleaning Company Website Template" name="description">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <script>

        function metodomontecarlo(){
          //Tiempos
          var inptime1 = parseFloat(document.getElementById("inptimeone").value);
          var inptime2 = parseFloat(document.getElementById("inptimetwo").value);
          var inptime3 = parseFloat(document.getElementById("inptimethree").value);
          var inptime4 = parseFloat(document.getElementById("inptimefour").value);
          var inptime5 = parseFloat(document.getElementById("inptimefive").value);
          //Probabilidad
          var inprobability1 = parseFloat(document.getElementById("inprobabilityone").value);
          var inprobability2 = parseFloat(document.getElementById("inprobabilitytwo").value);
          var inprobability3 = parseFloat(document.getElementById("inprobabilitythree").value);
          var inprobability4 = parseFloat(document.getElementById("inprobabilityfour").value);
          var inprobability5 = parseFloat(document.getElementById("inprobabilityfive").value);
          
          var rangeini1, rangeini2, rangeini3, rangeini4, rangeini5;
          var rangefin1, rangefin2, rangefin3, rangefin4, rangefin5;
          //Rango 1
          rangeini1 = 0;
          rangefin1 = inprobability1;
          //Rango 2
          rangeini2 = rangefin1;
          rangefin2 = rangeini2 + inprobability2;
          //Rango 3
          rangeini3 = rangefin2;
          rangefin3 = rangeini3 + inprobability3;
          //Rango 4
          rangeini4 = rangefin3;
          rangefin4 = rangeini4 + inprobability4;
          //Rango 5
          rangeini5 = rangefin4;
          rangefin5 = rangeini5 + inprobability5;

          if(rangefin5 != 1){
              alert("LA PROBABILIDAD NO ES DEL 100%");
              window.location.href = "index.html";

          }else{
            //Mostrar tabla de rangos

            //(TIEMPO)
            document.getElementById("txtmining1").innerHTML = inptime1;
            document.getElementById("txtmining2").innerHTML = inptime2;
            document.getElementById("txtmining3").innerHTML = inptime3;
            document.getElementById("txtmining4").innerHTML = inptime4;
            document.getElementById("txtmining5").innerHTML = inptime5;
            //(PROBABILIDAD)
            document.getElementById("txtprobing1").innerHTML = inprobability1;
            document.getElementById("txtprobing2").innerHTML = inprobability2;
            document.getElementById("txtprobing3").innerHTML = inprobability3;
            document.getElementById("txtprobing4").innerHTML = inprobability4;
            document.getElementById("txtprobing5").innerHTML = inprobability5;
            //(RANGO INICIAL)
            document.getElementById("txtrangincal1").innerHTML = rangeini1;
            document.getElementById("txtrangincal2").innerHTML = rangeini2;
            document.getElementById("txtrangincal3").innerHTML = rangeini3;
            document.getElementById("txtrangincal4").innerHTML = rangeini4;
            document.getElementById("txtrangincal5").innerHTML = rangeini5;
            //(RANGO FINAL)
            document.getElementById("txtrangfincal1").innerHTML = rangefin1;
            document.getElementById("txtrangfincal2").innerHTML = rangefin2;
            document.getElementById("txtrangfincal3").innerHTML = rangefin3;
            document.getElementById("txtrangfincal4").innerHTML = rangefin4;
            document.getElementById("txtrangfincal5").innerHTML = rangefin5;
            //Tabal de llegadas

            //(Aleatorio)
            var aleatorio;
            aleatorio = Math.random()
            document.getElementById("txtaleatorio1").innerHTML = aleatorio;
            if(aleatorio >= rangeini1 && aleatorio <= rangefin1){
                document.getElementById("txttimemin1").innerHTML = inptime1 + " min";
                document.getElementById("txtfinrange1").innerHTML = inptime1 + " min";
            }
            if(aleatorio >= rangeini2 && aleatorio <= rangefin2){
                document.getElementById("txttimemin1").innerHTML = inptime2 + " min";
                document.getElementById("txtfinrange1").innerHTML = inptime2 + " min";
            }
            if(aleatorio >= rangeini3 && aleatorio <= rangefin3){
                document.getElementById("txttimemin1").innerHTML = inptime3 + " min";
                document.getElementById("txtfinrange1").innerHTML = inptime3 + " min";
            }
            if(aleatorio >= rangeini4 && aleatorio <= rangefin4){
                document.getElementById("txttimemin1").innerHTML = inptime4 + " min";
                document.getElementById("txtfinrange1").innerHTML = inptime4 + " min";
            }
            if(aleatorio >= rangeini5 && aleatorio <= rangefin5){
                document.getElementById("txttimemin1").innerHTML = inptime5 + " min";
                document.getElementById("txtfinrange1").innerHTML = inptime5 + " min";
            }

          }
        }

      </script>

    <body>
        <div class="wrapper">
            <!-- Header Start -->
            <div class="header home">
                <div class="container-fluid">
                    <div class="header-top row align-items-center">
                        <div class="col-lg-3">
                            <div class="brand">
                                <a href="index.html">
                                    MonteCarlo
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="navbar navbar-expand-lg bg-light navbar-light">
                                <a href="#" class="navbar-brand">MENU</a>
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                    <div class="navbar-nav ml-auto">
                                        <a href="index.html" class="nav-item nav-link active">Metodo Monte Carlo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="hero row align-items-center">
                        <div class="col-md-7">
                            <h2>Resultado</h2>
                            <p id="txtresultadofinal"></p>
                        </div>
                        <div class="col-md-5">
                            <div class="form">
                                
                                <form>
                                    <table>
                                        <tr style="text-align: center;">
                                            <th><h3>Tiempo<br>
                                            (Minutos)</h3></th>
                                            <th><h3>Probabilidad</h3></th>  
                                        </tr>  
                                        <tr>
                                            <td><input id='inptimeone' class="form-control" type="text" placeholder="Primer Tiempo"></td>
                                            <td><input id='inprobabilityone' class="form-control" type="text" placeholder="Probabilidad 1"></td>
                                        </tr>
                                        <tr>
                                            <td><input id='inptimetwo' class="form-control" type="text" placeholder="Segundo Tiempo"></td>
                                            <td><input id='inprobabilitytwo' class="form-control" type="text" placeholder="Probabilidad 2"></td>
                                        </tr>
                                        <tr>
                                            <td><input id='inptimethree' class="form-control" type="text" placeholder="Tercer Tiempo"></td>
                                            <td><input id='inprobabilitythree' class="form-control" type="text" placeholder="Probabilidad 3"></td>  
                                        </tr>
                                        <tr>
                                            <td><input id='inptimefour' class="form-control" type="text" placeholder="Cuarto Tiempo"></td>
                                            <td><input id='inprobabilityfour' class="form-control" type="text" placeholder="Probabilidad 4"></td>  
                                        </tr>  
                                        <tr>
                                            <td><input id='inptimefive' class="form-control" type="text" placeholder="Quinto Tiempo"></td>
                                            <td><input id='inprobabilityfive' class="form-control" type="text" placeholder="Probabilidad 5"></td>  
                                        </tr>                                         
                                    </table>
                                    <input type="button" class="btn btn-block" value="RESOLVER" onclick="metodomontecarlo()" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->

            <!-- FAQs Start -->
            <div class="faqs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="section-header left">
                                <h2>Preguntas Basicas</h2>
                            </div>
                            <img src="img/question.jpg" alt="Image">
                        </div>
                        <div class="col-md-7">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                                            <span>1</span> Tabla de Rangos.
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            <table class="table table-bordered table-dark table-hover"  style="text-align: center;">
                                                <tr>
                                                    <th><p>Minutos</p></th>
                                                    <th><p>Probabilidad</p></th>
                                                    <th><p>Rango Inicial</p></th>
                                                    <th><p>Rango Final</p></th>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtmining1'></p></td>
                                                    <td><p id='txtprobing1'></p></td>
                                                    <td><p id='txtrangincal1'></p></td>
                                                    <td><p id='txtrangfincal1'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtmining2'></p></td>
                                                    <td><p id='txtprobing2'></p></td>
                                                    <td><p id='txtrangincal2'></p></td>
                                                    <td><p id='txtrangfincal2'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtmining3'></p></td>
                                                    <td><p id='txtprobing3'></p></td>
                                                    <td><p id='txtrangincal3'></p></td>
                                                    <td><p id='txtrangfincal3'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtmining4'></p></td>
                                                    <td><p id='txtprobing4'></p></td>
                                                    <td><p id='txtrangincal4'></p></td>
                                                    <td><p id='txtrangfincal4'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtmining5'></p></td>
                                                    <td><p id='txtprobing5'></p></td>
                                                    <td><p id='txtrangincal5'></p></td>
                                                    <td><p id='txtrangfincal5'></p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                            <span>1</span> Llegadas.
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <table class="table table-bordered table-dark table-hover"  style="text-align: center;">
                                                <tr>
                                                    <th><p>Llegadas</p></th>
                                                    <th><p>Aleatorio</p></th>
                                                    <th><p>Tiempo</p></th>
                                                    <th><p>Tiempo Inicio</p></th>
                                                    <th><p>Tiempo Final</p></th>
                                                </tr>
                                                <tr>
                                                    <td><p>1</p></td>
                                                    <td><p id='txtaleatorio1'></p></td>
                                                    <td><p id='txttimemin1'></p></td>
                                                    <td><p>0 min</p></td>
                                                    <td><p id='txtfinrange1'></p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>                         
                                
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAQs End -->
            
            <!-- Footer Start -->
            <div class="footer">
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="https://cesun.edu.mx/">Cesun Universidad</a>, Todos los derechos reservados.</p>
                        </div>
                        <div class="col-md-6">
                            <p> GRUPO: 09IDVA 16-07-2021</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
            
            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
