<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Monte-Carlo</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Cleaning Company Website Template" name="keywords">
        <meta content="Cleaning Company Website Template" name="description">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <script>

        function metodomontecarlo(){
          //Tiempos
          var inptime1 = parseFloat(document.getElementById("inptimeone").value);
          var inptime2 = parseFloat(document.getElementById("inptimetwo").value);
          var inptime3 = parseFloat(document.getElementById("inptimethree").value);
          var inptime4 = parseFloat(document.getElementById("inptimefour").value);
          var inptime5 = parseFloat(document.getElementById("inptimefive").value);
          //Probabilidad
          var inprobability1 = parseFloat(document.getElementById("inprobabilityone").value);
          var inprobability2 = parseFloat(document.getElementById("inprobabilitytwo").value);
          var inprobability3 = parseFloat(document.getElementById("inprobabilitythree").value);
          var inprobability4 = parseFloat(document.getElementById("inprobabilityfour").value);
          var inprobability5 = parseFloat(document.getElementById("inprobabilityfive").value);
          
          var rangeini1, rangeini2, rangeini3, rangeini4, rangeini5;
          var rangefin1, rangefin2, rangefin3, rangefin4, rangefin5;
          //Rango 1
          rangeini1 = 0;
          rangefin1 = inprobability1;
          //Rango 2
          rangeini2 = rangefin1;
          rangefin2 = rangeini2 + inprobability2;
          //Rango 3
          rangeini3 = rangefin2;
          rangefin3 = rangeini3 + inprobability3;
          //Rango 4
          rangeini4 = rangefin3;
          rangefin4 = rangeini4 + inprobability4;
          //Rango 5
          rangeini5 = rangefin4;
          rangefin5 = rangeini5 + inprobability5;

          if(rangefin5 != 1){
              alert("LA PROBABILIDAD NO ES DEL 100%");
              window.location.href = "index.html";

          }else{
            //Mostrar tabla de rangos

            //(TIEMPO)
            document.getElementById("txtmining1").innerHTML = inptime1;
            document.getElementById("txtmining2").innerHTML = inptime2;
            document.getElementById("txtmining3").innerHTML = inptime3;
            document.getElementById("txtmining4").innerHTML = inptime4;
            document.getElementById("txtmining5").innerHTML = inptime5;
            //(PROBABILIDAD)
            document.getElementById("txtprobing1").innerHTML = inprobability1;
            document.getElementById("txtprobing2").innerHTML = inprobability2;
            document.getElementById("txtprobing3").innerHTML = inprobability3;
            document.getElementById("txtprobing4").innerHTML = inprobability4;
            document.getElementById("txtprobing5").innerHTML = inprobability5;
            //(RANGO INICIAL)
            document.getElementById("txtrangincal1").innerHTML = rangeini1;
            document.getElementById("txtrangincal2").innerHTML = rangeini2;
            document.getElementById("txtrangincal3").innerHTML = rangeini3;
            document.getElementById("txtrangincal4").innerHTML = rangeini4;
            document.getElementById("txtrangincal5").innerHTML = rangeini5;
            //(RANGO FINAL)
            document.getElementById("txtrangfincal1").innerHTML = rangefin1;
            document.getElementById("txtrangfincal2").innerHTML = rangefin2;
            document.getElementById("txtrangfincal3").innerHTML = rangefin3;
            document.getElementById("txtrangfincal4").innerHTML = rangefin4;
            document.getElementById("txtrangfincal5").innerHTML = rangefin5;
            //Tabal de llegadas

            //(Aleatorio)
            var aleatorio;
            aleatorio = Math.random()
            document.getElementById("txtaleatorio1").innerHTML = aleatorio;
            if(aleatorio >= rangeini1 && aleatorio <= rangefin1){
                document.getElementById("txttimemin1").innerHTML = inptime1 + " min";
                document.getElementById("txtfinrange1").innerHTML = inptime1 + " min";
            }
            if(aleatorio >= rangeini2 && aleatorio <= rangefin2){
                document.getElementById("txttimemin1").innerHTML = inptime2 + " min";
                document.getElementById("txtfinrange1").innerHTML = inptime2 + " min";
            }
            if(aleatorio >= rangeini3 && aleatorio <= rangefin3){
                document.getElementById("txttimemin1").innerHTML = inptime3 + " min";
                document.getElementById("txtfinrange1").innerHTML = inptime3 + " min";
            }
            if(aleatorio >= rangeini4 && aleatorio <= rangefin4){
                document.getElementById("txttimemin1").innerHTML = inptime4 + " min";
                document.getElementById("txtfinrange1").innerHTML = inptime4 + " min";
            }
            if(aleatorio >= rangeini5 && aleatorio <= rangefin5){
                document.getElementById("txttimemin1").innerHTML = inptime5 + " min";
                document.getElementById("txtfinrange1").innerHTML = inptime5 + " min";
            }            
            //VEHICULOS
            var inpcar1 = document.getElementById("inpnumcarone").value;
            var inpcar2 = document.getElementById("inpnumcartwo").value;
            var inpcar3 = document.getElementById("inpnumcarthree").value;
            //PROBABILIDAD
            var inprobabilitycar1 = parseFloat(document.getElementById("inprobcarone").value);
            var inprobabilitycar2 = parseFloat(document.getElementById("inprobcartwo").value);
            var inprobabilitycar3 = parseFloat(document.getElementById("inprobcarthree").value);

            var rangecarini1, rangecarini2, rangecarini3;
            var rangecarfin1, rangecarfin2, rangecarfin3;
            //Rango 1
            rangecarini1 = 0;
            rangecarfin1 = inprobabilitycar1;
            //Rango 2
            rangecarini2 = rangecarfin1;
            rangecarfin2 = rangecarini2 + inprobabilitycar2;
            //Rango 3
            rangecarini3 = rangecarfin2;
            rangecarfin3 = rangecarini3 + inprobabilitycar3;
            
            //(VEHICULOS)
            document.getElementById("txtcaring1").innerHTML = inpcar1;
            document.getElementById("txtcaring2").innerHTML = inpcar2;
            document.getElementById("txtcaring3").innerHTML = inpcar3;
            //(PROBABILIDAD)
            document.getElementById("txtcarprobing1").innerHTML = inprobabilitycar1;
            document.getElementById("txtcarprobing2").innerHTML = inprobabilitycar2;
            document.getElementById("txtcarprobing3").innerHTML = inprobabilitycar3;
            //(RANGO INICIAL)
            document.getElementById("txtrangincar1").innerHTML = rangecarini1;
            document.getElementById("txtrangincar2").innerHTML = rangecarini2;
            document.getElementById("txtrangincar3").innerHTML = rangecarini3;
            //(RANGO FINAL)
            document.getElementById("txtrangfincar1").innerHTML = rangecarfin1;
            document.getElementById("txtrangfincar2").innerHTML = rangecarfin2;
            document.getElementById("txtrangfincar3").innerHTML = rangecarfin3;
            //(Aleatorio)
            var caraleatorio;
            caraleatorio = Math.random()
            document.getElementById("txtaleatoriocar1").innerHTML = caraleatorio;
            if(caraleatorio >= rangecarini1 && caraleatorio <= rangecarfin1){
                document.getElementById("txtcarcar1").innerHTML = inpcar1;
            }
            if(caraleatorio >= rangecarini2 && caraleatorio <= rangecarfin2){
                document.getElementById("txtcarcar1").innerHTML = inpcar2;
            }
            if(caraleatorio >= rangecarini3 && caraleatorio <= rangecarfin3){
                document.getElementById("txtcarcar1").innerHTML = inpcar3;
            }
            //Servicios
            var inpser1 = document.getElementById("inpservione").value;
            var inpser2 = document.getElementById("inpservitwo").value;
            var inpser3 = document.getElementById("inpservithree").value;
            var inpser4 = document.getElementById("inpservifour").value;
            var inpser5 = document.getElementById("inpservifive").value;
            var inpser6 = document.getElementById("inpservifive").value;
            //Probabilidad
            var inprobabilityser1 = parseFloat(document.getElementById("inprobabservone").value);
            var inprobabilityser2 = parseFloat(document.getElementById("inprobabservtwo").value);
            var inprobabilityser3 = parseFloat(document.getElementById("inprobabservthree").value);
            var inprobabilityser4 = parseFloat(document.getElementById("inprobabservfour").value);
            var inprobabilityser5 = parseFloat(document.getElementById("inprobabservfive").value);
            var inprobabilityser6 = parseFloat(document.getElementById("inprobabservsix").value);
            //Precio
            var inpcostser1 = parseFloat(document.getElementById("inppriceone").value);
            var inpcostser2 = parseFloat(document.getElementById("inppricetwo").value);
            var inpcostser3 = parseFloat(document.getElementById("inppricethree").value);
            var inpcostser4 = parseFloat(document.getElementById("inppricefour").value);
            var inpcostser5 = parseFloat(document.getElementById("inppricefive").value);
            var inpcostser6 = parseFloat(document.getElementById("inppricesix").value);

            var rangeserini1, rangeserini2, rangeserini3, rangeserini4, rangeserini5, rangeserini6;
            var rangeserfin1, rangeserfin2, rangeserfin3, rangeserfin4, rangeserfin5, rangeserfin6;
            //Rango 1
            rangeserini1 = 0;
            rangeserfin1 = inprobabilityser1;
            //Rango 2
            rangeserini2 = rangeserfin1;
            rangeserfin2 = rangeserini2 + inprobabilityser2;
            //Rango 3
            rangeserini3 = rangeserfin2;
            rangeserfin3 = rangeserini3 + inprobabilityser3;
            //Rango 4
            rangeserini4 = rangeserfin3;
            rangeserfin4 = rangeserini4 + inprobabilityser4;
            //Rango 5
            rangeserini5 = rangeserfin4;
            rangeserfin5 = rangeserini5 + inprobabilityser5;
            //Rango 5
            rangeserini6 = rangeserfin5;
            rangeserfin6 = rangeserini6 + inprobabilityser6;
            //(Servicio)
            document.getElementById("txtsering1").innerHTML = inpser1;
            document.getElementById("txtsering2").innerHTML = inpser2;
            document.getElementById("txtsering3").innerHTML = inpser3;
            document.getElementById("txtsering4").innerHTML = inpser4;
            document.getElementById("txtsering5").innerHTML = inpser5;
            document.getElementById("txtsering6").innerHTML = inpser6;
            //(PROBABILIDAD)
            document.getElementById("txtserprobing1").innerHTML = inprobabilityser1;
            document.getElementById("txtserprobing2").innerHTML = inprobabilityser2;
            document.getElementById("txtserprobing3").innerHTML = inprobabilityser3;
            document.getElementById("txtserprobing4").innerHTML = inprobabilityser4;
            document.getElementById("txtserprobing5").innerHTML = inprobabilityser5;
            document.getElementById("txtserprobing6").innerHTML = inprobabilityser6;
            //(PRECIO)
            document.getElementById("txtserpriceing1").innerHTML = inpcostser1;
            document.getElementById("txtserpriceing2").innerHTML = inpcostser2;
            document.getElementById("txtserpriceing3").innerHTML = inpcostser3;
            document.getElementById("txtserpriceing4").innerHTML = inpcostser4;
            document.getElementById("txtserpriceing5").innerHTML = inpcostser5;
            document.getElementById("txtserpriceing6").innerHTML = inpcostser6;
            //(RANGO INICIAL)
            document.getElementById("txtranginser1").innerHTML = rangeserini1;
            document.getElementById("txtranginser2").innerHTML = rangeserini2;
            document.getElementById("txtranginser3").innerHTML = rangeserini3;
            document.getElementById("txtranginser4").innerHTML = rangeserini4;
            document.getElementById("txtranginser5").innerHTML = rangeserini5;
            document.getElementById("txtranginser6").innerHTML = rangeserini6;
            //(RANGO FINAL)
            document.getElementById("txtrangfinser1").innerHTML = rangeserfin1;
            document.getElementById("txtrangfinser2").innerHTML = rangeserfin2;
            document.getElementById("txtrangfinser3").innerHTML = rangeserfin3;
            document.getElementById("txtrangfinser4").innerHTML = rangeserfin4;
            document.getElementById("txtrangfinser5").innerHTML = rangeserfin5;
            document.getElementById("txtrangfinser6").innerHTML = rangeserfin6;
            //(Aleatorio)
            var seraleatorio;
                seraleatorio = Math.random()
                document.getElementById("txtaleatorioser1").innerHTML = seraleatorio;
                if(seraleatorio >= rangeserini1 && seraleatorio <= rangeserfin1){
                    document.getElementById("txtser1").innerHTML = inpser1;                
                    document.getElementById("txtcosser1").innerHTML = inpcostser1;
                    document.getElementById("txtnumerodeventas").innerHTML = inpcostser1;
                }
                if(seraleatorio >= rangeserini2 && seraleatorio <= rangeserfin2){
                    document.getElementById("txtser1").innerHTML = inpser2;
                    document.getElementById("txtcosser1").innerHTML = inpcostser2;
                    document.getElementById("txtnumerodeventas").innerHTML = inpcostser2;
                }
                if(seraleatorio >= rangeserini3 && seraleatorio <= rangeserfin3){
                    document.getElementById("txtser1").innerHTML = inpser3;
                    document.getElementById("txtcosser1").innerHTML = inpcostser3;
                    document.getElementById("txtnumerodeventas").innerHTML = inpcostser3;
                }
                if(seraleatorio >= rangeserini4 && seraleatorio <= rangeserfin4){
                    document.getElementById("txtser1").innerHTML = inpser4;
                    document.getElementById("txtcosser1").innerHTML = inpcostser4;
                    document.getElementById("txtnumerodeventas").innerHTML = inpcostser4;
                }
                if(seraleatorio >= rangeserini5 && seraleatorio <= rangeserfin5){
                    document.getElementById("txtser1").innerHTML = inpser5;
                    document.getElementById("txtcosser1").innerHTML = inpcostser5;
                    document.getElementById("txtnumerodeventas").innerHTML = inpcostser5;
                }
                if(seraleatorio >= rangeserini6 && seraleatorio <= rangeserfin6){
                    document.getElementById("txtser1").innerHTML = inpser6;
                    document.getElementById("txtcosser1").innerHTML = inpcostser6;
                    document.getElementById("txtnumerodeventas").innerHTML = inpcostser6;
                }

                document.getElementById("txtnumerodevehiculos").innerHTML = 1;
            }
        }
      </script>

    <body>
        <div class="wrapper">
            <!-- Header Start -->
            <div class="header home">
                <div class="container-fluid">
                    <div class="header-top row align-items-center">
                        <div class="col-lg-3">
                            <div class="brand">
                                <a href="index.html">
                                    MonteCarlo
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="navbar navbar-expand-lg bg-light navbar-light">
                                <a href="#" class="navbar-brand">MENU</a>
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                    <div class="navbar-nav ml-auto">
                                        <a href="index.html" class="nav-item nav-link active">Metodo Monte Carlo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="hero row align-items-center">
                        <div class="col-md-12">
                            <div class="form">                                
                                <form>
                                    <table>
                                        <tr style="text-align: center;">
                                            <th><h3>Servicios</th>
                                            <th><h3>Probabilidad</h3></th>
                                            <th><h3>Precio<br>
                                            Promedio</h3></th>  
                                        </tr>  
                                        <tr>
                                            <td><input id='inpservione' class="form-control" type="text" placeholder="Servicio 1"></td>
                                            <td><input id='inprobabservone' class="form-control" type="text" placeholder="Probabilidad 1"></td>
                                            <td><input id='inppriceone' class="form-control" type="text" placeholder="Precio 1"></td>
                                        </tr>
                                        <tr>
                                            <td><input id='inpservitwo' class="form-control" type="text" placeholder="Servicio 2"></td>
                                            <td><input id='inprobabservtwo' class="form-control" type="text" placeholder="Probabilidad 2"></td>
                                            <td><input id='inppricetwo' class="form-control" type="text" placeholder="Precio 2"></td>
                                        </tr>
                                        <tr>
                                            <td><input id='inpservithree' class="form-control" type="text" placeholder="Servicio 3"></td>
                                            <td><input id='inprobabservthree' class="form-control" type="text" placeholder="Probabilidad 3"></td>
                                            <td><input id='inppricethree' class="form-control" type="text" placeholder="Precio 3"></td>  
                                        </tr>
                                        <tr>
                                            <td><input id='inpservifour' class="form-control" type="text" placeholder="Servicio 4"></td>
                                            <td><input id='inprobabservfour' class="form-control" type="text" placeholder="Probabilidad 4"></td> 
                                            <td><input id='inppricefour' class="form-control" type="text" placeholder="Precio 4"></td> 
                                        </tr>  
                                        <tr>
                                            <td><input id='inpservifive' class="form-control" type="text" placeholder="Servicio 5"></td>
                                            <td><input id='inprobabservfive' class="form-control" type="text" placeholder="Probabilidad 5"></td>  
                                            <td><input id='inppricefive' class="form-control" type="text" placeholder="Precio 5"></td>
                                        </tr>
                                        <tr>
                                            <td><input id='inpservisix' class="form-control" type="text" placeholder="Servicio 6"></td>
                                            <td><input id='inprobabservsix' class="form-control" type="text" placeholder="Probabilidad 6"></td>  
                                            <td><input id='inppricesix' class="form-control" type="text" placeholder="Precio 6"></td>
                                        </tr>                                          
                                    </table>
                                    <table>
                                        <tr style="text-align: center;">
                                            <th><h3>Vehiculos<br></th>
                                            <th><h3>Probabilidad</h3></th>  
                                        </tr>  
                                        <tr>
                                            <td><input id='inpnumcarone' class="form-control" type="text" placeholder="Vehiculo 1"></td>
                                            <td><input id='inprobcarone' class="form-control" type="text" placeholder="Probabilidad 1"></td>
                                        </tr>
                                        <tr>
                                            <td><input id='inpnumcartwo' class="form-control" type="text" placeholder="Vehiculo 2"></td>
                                            <td><input id='inprobcartwo' class="form-control" type="text" placeholder="Probabilidad 2"></td>
                                        </tr>
                                        <tr>
                                            <td><input id='inpnumcarthree' class="form-control" type="text" placeholder="Vehiculo 3"></td>
                                            <td><input id='inprobcarthree' class="form-control" type="text" placeholder="Probabilidad 3"></td>  
                                        </tr>                                      
                                    </table>
                                    <table>
                                        <tr style="text-align: center;">
                                            <th><h3>Tiempo<br>
                                            (Minutos)</h3></th>
                                            <th><h3>Probabilidad</h3></th>  
                                        </tr>  
                                        <tr>
                                            <td><input id='inptimeone' class="form-control" type="text" placeholder="Primer Tiempo"></td>
                                            <td><input id='inprobabilityone' class="form-control" type="text" placeholder="Probabilidad 1"></td>
                                        </tr>
                                        <tr>
                                            <td><input id='inptimetwo' class="form-control" type="text" placeholder="Segundo Tiempo"></td>
                                            <td><input id='inprobabilitytwo' class="form-control" type="text" placeholder="Probabilidad 2"></td>
                                        </tr>
                                        <tr>
                                            <td><input id='inptimethree' class="form-control" type="text" placeholder="Tercer Tiempo"></td>
                                            <td><input id='inprobabilitythree' class="form-control" type="text" placeholder="Probabilidad 3"></td>  
                                        </tr>
                                        <tr>
                                            <td><input id='inptimefour' class="form-control" type="text" placeholder="Cuarto Tiempo"></td>
                                            <td><input id='inprobabilityfour' class="form-control" type="text" placeholder="Probabilidad 4"></td>  
                                        </tr>  
                                        <tr>
                                            <td><input id='inptimefive' class="form-control" type="text" placeholder="Quinto Tiempo"></td>
                                            <td><input id='inprobabilityfive' class="form-control" type="text" placeholder="Probabilidad 5"></td>  
                                        </tr>                                         
                                    </table>
                                    <input type="button" class="btn btn-block" value="RESOLVER" onclick="metodomontecarlo()" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->

            <!-- FAQs Start -->
            <div class="faqs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="section-header left">
                                <h2>Preguntas Basicas</h2>
                            </div>
                            <img src="img/question.jpg" alt="Image">
                        </div>
                        <div class="col-md-7">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                                            <span>1</span> Tabla de Rangos.
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            <table class="table table-bordered table-dark table-hover"  style="text-align: center;">
                                                <tr>
                                                    <th><p>Minutos</p></th>
                                                    <th><p>Probabilidad</p></th>
                                                    <th><p>Rango Inicial</p></th>
                                                    <th><p>Rango Final</p></th>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtmining1'></p></td>
                                                    <td><p id='txtprobing1'></p></td>
                                                    <td><p id='txtrangincal1'></p></td>
                                                    <td><p id='txtrangfincal1'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtmining2'></p></td>
                                                    <td><p id='txtprobing2'></p></td>
                                                    <td><p id='txtrangincal2'></p></td>
                                                    <td><p id='txtrangfincal2'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtmining3'></p></td>
                                                    <td><p id='txtprobing3'></p></td>
                                                    <td><p id='txtrangincal3'></p></td>
                                                    <td><p id='txtrangfincal3'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtmining4'></p></td>
                                                    <td><p id='txtprobing4'></p></td>
                                                    <td><p id='txtrangincal4'></p></td>
                                                    <td><p id='txtrangfincal4'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtmining5'></p></td>
                                                    <td><p id='txtprobing5'></p></td>
                                                    <td><p id='txtrangincal5'></p></td>
                                                    <td><p id='txtrangfincal5'></p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                            <span>2</span> Tabla de Vehiculos.
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <table class="table table-bordered table-dark table-hover"  style="text-align: center;">
                                                <tr>
                                                    <th><p>Vehiculos</p></th>
                                                    <th><p>probabilidad</p></th>
                                                    <th><p>Rango Inicial</p></th>
                                                    <th><p>Rango Final</p></th>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtcaring1'></p></td>
                                                    <td><p id='txtcarprobing1'></p></td>
                                                    <td><p id='txtrangincar1'></p></td>
                                                    <td><p id='txtrangfincar1'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtcaring2'></p></td>
                                                    <td><p id='txtcarprobing2'></p></td>
                                                    <td><p id='txtrangincar2'></p></td>
                                                    <td><p id='txtrangfincar2'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtcaring3'></p></td>
                                                    <td><p id='txtcarprobing3'></p></td>
                                                    <td><p id='txtrangincar3'></p></td>
                                                    <td><p id='txtrangfincar3'></p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseThree">
                                            <span>3</span> Tabla de Servicios.
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <table class="table table-bordered table-dark table-hover"  style="text-align: center;">
                                                <tr>
                                                    <th><p>Servicios</p></th>
                                                    <th><p>Probabilidad</p></th>
                                                    <th><p>Precio de Servicio</p></th>
                                                    <th><p>Rango Inicial</p></th>
                                                    <th><p>Rango Final</p></th>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtsering1'></p></td>
                                                    <td><p id='txtserprobing1'></p></td>
                                                    <td><p id='txtserpriceing1'></p></td>
                                                    <td><p id='txtranginser1'></p></td>
                                                    <td><p id='txtrangfinser1'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtsering2'></p></td>
                                                    <td><p id='txtserprobing2'></p></td>
                                                    <td><p id='txtserpriceing2'></p></td>
                                                    <td><p id='txtranginser2'></p></td>
                                                    <td><p id='txtrangfinser2'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtsering3'></p></td>
                                                    <td><p id='txtserprobing3'></p></td>
                                                    <td><p id='txtserpriceing3'></p></td>
                                                    <td><p id='txtranginser3'></p></td>
                                                    <td><p id='txtrangfinser3'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtsering4'></p></td>
                                                    <td><p id='txtserprobing4'></p></td>
                                                    <td><p id='txtserpriceing4'></p></td>
                                                    <td><p id='txtranginser4'></p></td>
                                                    <td><p id='txtrangfinser4'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtsering5'></p></td>
                                                    <td><p id='txtserprobing5'></p></td>
                                                    <td><p id='txtserpriceing5'></p></td>
                                                    <td><p id='txtranginser5'></p></td>
                                                    <td><p id='txtrangfinser5'></p></td>
                                                </tr>
                                                <tr>
                                                    <td><p id='txtsering6'></p></td>
                                                    <td><p id='txtserprobing6'></p></td>
                                                    <td><p id='txtserpriceing6'></p></td>
                                                    <td><p id='txtranginser6'></p></td>
                                                    <td><p id='txtrangfinser6'></p></td>
                                                </tr>
                                                <tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseFour">
                                            <span>4</span> Llegadas.
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <table class="table table-bordered table-dark table-hover"  style="text-align: center;">
                                                <tr>
                                                    <th><p>Llegadas</p></th>
                                                    <th><p>Aleatorio</p></th>
                                                    <th><p>Tiempo</p></th>
                                                    <th><p>Tiempo Inicio</p></th>
                                                    <th><p>Tiempo Final</p></th>
                                                </tr>
                                                <tr>
                                                    <td><p>1</p></td>
                                                    <td><p id='txtaleatorio1'></p></td>
                                                    <td><p id='txttimemin1'></p></td>
                                                    <td><p>0 min</p></td>
                                                    <td><p id='txtfinrange1'></p></td>
                                                </tr>                                                
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseFive">
                                            <span>5</span> Tipo de Vehiculo.
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <table class="table table-bordered table-dark table-hover"  style="text-align: center;">
                                                <tr>
                                                    <th><p>Llegadas</p></th>
                                                    <th><p>Aleatorio</p></th>
                                                    <th><p>Vehiculo</p></th>
                                                </tr>
                                                <tr>
                                                    <td><p>1</p></td>
                                                    <td><p id='txtaleatoriocar1'></p></td>
                                                    <td><p id='txtcarcar1'></p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseSix">
                                            <span>5</span> Servicio Solicitado.
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <table class="table table-bordered table-dark table-hover"  style="text-align: center;">
                                                <tr>
                                                    <th>Llegadas</th>
                                                    <th><p>Aleatorio</p></th>
                                                    <th><p>Servicio</p></th>
                                                    <th><p>Costo</p></th>
                                                </tr>
                                                <tr>
                                                    <td><p>1</p></td>                                                    
                                                    <td><p id='txtaleatorioser1'></p></td>
                                                    <td><p id='txtser1'></p></td>
                                                    <td><p id='txtcosser1'></p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapse">
                                            <span>3</span> Resultado.
                                        </a>
                                    </div>
                                    <div id="collapse" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            <h2>Resultado</h2>
                                            <p>Vehiculos:</p>
                                            <p id="txtnumerodevehiculos"></p>
                                            <p>Servicio:</p>
                                            <table>
                                                <tr>
                                                    <td>$</td><td><p id="txtnumerodeventas"></p></td>
                                                </tr>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>                          
                                
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAQs End -->
            
            <!-- Footer Start -->
            <div class="footer">
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="https://cesun.edu.mx/">Cesun Universidad</a>, Todos los derechos reservados.</p>
                        </div>
                        <div class="col-md-6">
                            <p> GRUPO: 09IDVA 16-07-2021</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
            
            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
